.box2 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow:rgba(113, 135, 164, 0.207843) 3px 0px 6px 3px;
  -webkit-box-shadow:rgba(113, 135, 164, 0.207843) 3px 0px 6px 3px;
  -moz-box-shadow:rgba(113, 135, 164, 0.207843) 3px 0px 6px 3px;
  border-radius: 4px;
}
